In [12]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [4]:
# Connection information
user = 'dsbc_student'
pw = '7*.8G9QH21'
host = '142.93.121.174'
port = '5432'
db = 'useducation'

In [5]:
# Establish connection
connection = create_engine('postgresql://{}:{}@{}:{}/{}'.format(user, pw, host, port, db))

# Create dataframe
edu_df = pd.read_sql_query('select * from useducation', con = connection)

# Terminate connection
connection.dispose()

In [6]:
edu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1229 non-null float64
TOTAL_REVENUE                   1280 non-null float64
FEDERAL_REVENUE                 1280 non-null float64
STATE_REVENUE                   1280 non-null float64
LOCAL_REVENUE                   1280 non-null float64
TOTAL_EXPENDITURE               1280 non-null float64
INSTRUCTION_EXPENDITURE         1280 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1280 non-null float64
OTHER_EXPENDITURE               1229 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1280 non-null float64
GRADES_PK_G                     1319 non-null float64
GRADES_KG_G                     1360 non-null float64
GRADES_4_G                      1361 non-null float64
GRADES_8_G                      1361 non-null float64
GRADES_12_G                     1361 non-null float64
GRADES_1_8_G                    1361 non-null float64
GRADES_9_12_G                   1361 non-null float64
GRADES_ALL_G                    1319 non-null float64
AVG_MATH_4_SCORE                536 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             533 non-null float64
AVG_READING_8_SCORE             498 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

In [7]:
# Fill in missing values
columns = ['ENROLL', 'TOTAL_REVENUE', 'FEDERAL_REVENUE', 'STATE_REVENUE', 'LOCAL_REVENUE', 'TOTAL_EXPENDITURE',
          'INSTRUCTION_EXPENDITURE', 'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE', 'CAPITAL_OUTLAY_EXPENDITURE',
          'GRADES_PK_G', 'GRADES_KG_G', 'GRADES_4_G', 'GRADES_8_G', 'GRADES_12_G', 'GRADES_1_8_G', 'GRADES_9_12_G',
          'GRADES_ALL_G']

for column in columns:
    edu_df[column].fillna(edu_df[column].mean(), inplace=True)
    
# Drop null values after
edu_df.dropna(inplace=True)

In [8]:
edu_df.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,474.000000,4.740000e+02,4.740000e+02,4.740000e+02,4.740000e+02,4.740000e+02,4.740000e+02,4.740000e+02,4.740000e+02,4.740000e+02,...,474.000000,474.000000,474.000000,4.740000e+02,4.740000e+02,4.740000e+02,474.000000,474.000000,474.000000,474.000000
mean,2008.305907,9.383567e+05,1.022581e+07,9.137270e+05,4.734100e+06,4.577980e+06,1.033058e+07,5.339623e+06,3.018278e+06,4.733010e+05,...,71018.842384,71451.242453,62607.086794,5.721117e+05,2.793603e+05,8.665671e+05,236.541353,279.511266,219.305086,263.772645
std,6.096588,1.049378e+06,1.228783e+07,1.245154e+06,5.778345e+06,5.710645e+06,1.251551e+07,6.563781e+06,3.494171e+06,5.487766e+05,...,80973.543927,80609.957981,72079.478548,6.500868e+05,3.190865e+05,9.667211e+05,9.159956,9.695064,7.698038,6.834157
min,1992.000000,4.417900e+04,6.452330e+05,4.100700e+04,0.000000e+00,2.853100e+04,6.387840e+05,3.182600e+05,1.949150e+05,2.191000e+04,...,3423.000000,2860.000000,2188.000000,2.676200e+04,9.970000e+03,3.682300e+04,187.134670,232.831510,178.557612,236.379102
25%,2005.000000,3.055018e+05,2.927491e+06,2.789542e+05,1.621331e+06,1.100645e+06,2.972072e+06,1.525948e+06,8.755418e+05,1.448082e+05,...,22805.250000,22278.750000,19808.750000,1.809440e+05,9.027200e+04,2.790388e+05,232.062602,274.436276,215.044071,259.762432
50%,2009.000000,7.509020e+05,7.108150e+06,6.378720e+05,3.319613e+06,2.861380e+06,7.225154e+06,3.658530e+06,2.147064e+06,3.801005e+05,...,57531.500000,58112.000000,45993.000000,4.636555e+05,2.121245e+05,6.872250e+05,238.289254,281.369105,220.928176,265.136000
75%,2013.000000,9.583232e+05,1.079239e+07,8.967068e+05,5.392826e+06,4.602924e+06,1.082046e+07,5.545570e+06,3.130956e+06,5.100048e+05,...,75136.500000,76175.500000,70169.000000,6.111212e+05,2.945558e+05,9.146698e+05,242.557845,286.154375,224.488094,268.275364
max,2017.000000,6.307022e+06,7.824804e+07,9.990221e+06,4.236047e+07,3.494151e+07,7.836596e+07,4.195426e+07,2.350185e+07,3.759373e+06,...,493415.000000,500143.000000,498403.000000,3.929869e+06,2.011865e+06,5.926631e+06,253.420961,300.568235,236.773867,280.499130

In [9]:
edu_df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
2,1992_ARIZONA,ARIZONA,1992,915930.820993,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,915930.820993,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
5,1992_COLORADO,COLORADO,1992,915930.820993,3185173.0,163253.0,1307986.0,1713934.0,3264826.0,1642466.0,...,50648.0,45025.0,34533.0,394904.0,160299.0,562613.0,221.023429,272.398433,213.480890,266.419687
6,1992_CONNECTICUT,CONNECTICUT,1992,915930.820993,3834302.0,143542.0,1342539.0,2348221.0,3721338.0,2148041.0,...,38058.0,33691.0,28366.0,304284.0,126917.0,436932.0,226.798480,273.739345,222.417599,264.713904
7,1992_DELAWARE,DELAWARE,1992,915930.820993,645233.0,45945.0,420942.0,178346.0,638784.0,372722.0,...,8272.0,8012.0,6129.0,67495.0,28338.0,96296.0,217.899972,262.868585,206.389052,261.577921

### Create a new score variable from the weighted averages of all score variables in the datasets. Notice that the number of students in the 4th grade isn't the same as the number of students in the 8th grade. So, you should appropriately weigh the scores!

In [10]:
edu_df['TOTAL_SCORE'] = (edu_df['GRADES_4_G'] * ((edu_df['AVG_MATH_4_SCORE'] + edu_df['AVG_READING_4_SCORE']) * 0.5)
                          +
                           edu_df['GRADES_8_G'] * ((edu_df['AVG_MATH_8_SCORE'] + edu_df['AVG_READING_8_SCORE']) * 0.5)
                          ) / (edu_df['GRADES_4_G'] + edu_df['GRADES_8_G'])

### What are the correlations between this newly created score variable and the expenditure types? Which 1 of the expenditure types is more correlated than the others?

In [11]:
edu_df[['TOTAL_SCORE', 'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE', 'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE', 'CAPITAL_OUTLAY_EXPENDITURE']].corr()

,TOTAL_SCORE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE
TOTAL_SCORE,1.000000,0.083903,0.097311,0.087715,0.004305,0.006817
TOTAL_EXPENDITURE,0.083903,1.000000,0.990396,0.993574,0.942980,0.929282
INSTRUCTION_EXPENDITURE,0.097311,0.990396,1.000000,0.976019,0.902983,0.888823
SUPPORT_SERVICES_EXPENDITURE,0.087715,0.993574,0.976019,1.000000,0.949762,0.915479
OTHER_EXPENDITURE,0.004305,0.942980,0.902983,0.949762,1.000000,0.919011
CAPITAL_OUTLAY_EXPENDITURE,0.006817,0.929282,0.888823,0.915479,0.919011,1.000000

Based on the correlation matrix above, ```edu_df['INSTRUCTION_EXPENDITURE']``` is mroe correlated than the others.

### Now, apply PCA to the 4 expenditure types. How much of the total variance is explained by the 1st component?

In [37]:
X = StandardScaler().fit_transform(edu_df[['INSTRUCTION_EXPENDITURE', 
                                           'SUPPORT_SERVICES_EXPENDITURE', 
                                           'OTHER_EXPENDITURE', 
                                           'CAPITAL_OUTLAY_EXPENDITURE']])

sklearn_pca = PCA(n_components=4)
Y_sklearn = sklearn_pca.fit_transform(X)

print('The percentage of total variance in the expenditure types explained by each',
      'component from Sklearn PCA.\n', sklearn_pca.explained_variance_ratio_)

The percentage of total variance in the expenditure types explained by each component from Sklearn PCA.
 [0.94412983 0.03241388 0.01992698 0.00352932]

In [40]:
X1 = StandardScaler().fit_transform(edu_df[['INSTRUCTION_EXPENDITURE', 
                                            'SUPPORT_SERVICES_EXPENDITURE', 
                                            'OTHER_EXPENDITURE', 
                                            'CAPITAL_OUTLAY_EXPENDITURE']])

sklearn_pca1 = PCA(n_components=1)
edu_df['PCA'] = sklearn_pca1.fit_transform(X1)

print('The percentage of total variance in the expenditure types explained by each',
      'component from Sklearn PCA.\n', sklearn_pca1.explained_variance_ratio_)

The percentage of total variance in the expenditure types explained by each component from Sklearn PCA.
 [0.94412983]

### What is the correlation between the overall score variable and the 1st principal component?

In [44]:
edu_df[['TOTAL_SCORE', 'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE', 'PCA']].corr()

,TOTAL_SCORE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,PCA
TOTAL_SCORE,1.000000,0.083903,0.097311,0.050783
TOTAL_EXPENDITURE,0.083903,1.000000,0.990396,0.992363
INSTRUCTION_EXPENDITURE,0.097311,0.990396,1.000000,0.969696
PCA,0.050783,0.992363,0.969696,1.000000

### If you were to choose the best variables for your model, would you prefer using the 1st principal component instead of the expenditure variables? Why?

I would prefer using ```edu_df['INSTRUCTION_EXPENDITURE']``` because it's correlation is higher than the 1st principal component.